* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: rgb(53, 53, 53);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.output {
  width: 400px;
  min-height: 100px;
  max-height: auto;
  background-color: #222;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  word-wrap: break-word;
  word-break: break-all;
  letter-spacing: -3px;
}

.output-above {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
  margin-right: 10px;
  word-spacing: 3px;
}

.output-below {
  color: white;
  font-size: 2.5rem;
  margin-right: 10px;
}

.btn {
  min-width: 100px;
  min-height: 100px;
  font-size: 32px;
  outline: none;
  background: rgb(0, 0, 0, 90%);
  border: none;
  margin-right: -4.5px;
  cursor: pointer;
  color: #eee;
}

.btn:hover,
.btn-2lines:hover {
  color: black;
  background: rgb(255, 255, 255);
}

.btn-2lines {
  min-width: 200px;
  min-height: 100px;
  font-size: 32px;
  outline: none;
  background: rgb(0, 0, 0, 90%);
  border: none;
  margin-right: -5px;
  cursor: pointer;
  color: #eee;
}

.sinals {
  min-width: 100px;
  min-height: 100px;
  font-size: 32px;
  outline: none;
  background: rgb(197, 16, 16);
  border: none;
  cursor: pointer;
  color: #eee;
}

.sinals:hover {
  color: rgb(197, 16, 16);
  background: rgb(255, 255, 255);
}
